
.video-card {
  width: 100%;
  cursor: pointer;
}

.video-card .thumbnail-container {
  position: relative;
  width: 100%;
}

.video-card .thumbnail {
  width: 100%;
  border-radius: 8px;
}

.video-card .video-duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
}

.video-card .video-info {
  margin-top: 8px;
}

.video-card .video-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #030303;
  line-height: 1.4;
}

.video-card .video-meta {

  font-size: 12px;
  width: 100%;
  color: #666;
  margin: 0;
}

.video-card .channel-info {
  display: flex;
  align-items: flex-start;
  margin: 0px;
  gap: 8px;
}

.video-card .channel-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-top: 2px;
  cursor: pointer;
}

.video-card .info-container {

  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.video-card .channel-details {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  
}

.video-card .channel-details .video-meta {
  margin: 0;
}

.video-card .channel-details .channel-name {
  width: 100%;
  margin-bottom: 2px;
  font-size: 13px;
  color: #606060;
  text-align: left;
  font-weight: normal;
  cursor: pointer;
}

.video-card .channel-details .channel-name:hover {
  color: #065fd4;
  
}
